<section class="c-contact">

    <div class="c-contact__container container">

        <h5 class="c-contact__title">¿Querés recibir más información?</h5>

        <p class="c-contact__copy">Completá los siguientes datos y nuestros asesores se pondrán en contacto</p>

        <form class="c-contact__form" action="">

            <div class="actions">

                <input class="c-contact__input" id="name" type="text" placeholder="Nombre y Apellido:">
    
                <input class="c-contact__input" id="phone" type="number" placeholder="Teléfono:">
    
                <input class="c-contact__input" id="email" type="text" placeholder="E-mail:">
    
                <input class="c-contact__input" id="place" type="text" placeholder="Ciudad/País:">
                
            </div>

            <input class="c-contact__input-submit" type="submit" value="ENVIAR">

        </form>

    </div>

</section>