@import '../../../assets/scss/vars';

.c-contact {
  @extend .scroll-space;
  padding-bottom: 50px;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;

  &__title {
    font-family: map-get($font, 'medium');
    font-size: 33px;
    line-height: 1.1em;
    color: $primary;
    margin-bottom: 6px;
    text-align: center;

    @media (max-width: $md) {
      font-size: 25px;
    }
  }

  &__copy {
    font-family: map-get($font, 'medium');
    font-size: 25px;
    line-height: calc(30em / 25);
    color: $tertiary;
    margin-bottom: 30px;
    text-align: center;

    @media (max-width: $md) {
      font-size: 18px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    max-width: 952px;
    margin: 0 auto;
  }

  &__input {
    margin: 0 auto;
    height: 43px;
    width: 100%;
    line-height: 43px;
    font-family: map-get($font, 'light');
    margin-bottom: 16px;
    padding: 0 20px;
    border: 2px solid $grey;

    @media (max-width: $sm) {
      width: 85%;
    }

    &:last-child {
      margin-bottom: initial;
    }

    &-submit {
      margin: 0 auto;
      margin-top: 34px;
      width: max-content;
      padding: 10px 20px;
      border: none;
      border-radius: none;
      color: $white;
      font-size: 19px;
      font-family: map-get($font, 'medium');
      outline: none;
      background-color: $primary;
      cursor: pointer;
    }
  }

  &__modal{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    padding: 50px;
    max-width: 350px;
    background-color: $grey;
    color: $secondary;
    font-family: map-get($font , 'medium' );
    font-size: 25px;
    line-height: 1.2em;
    transition: .3s all;
    border-radius: 40px;
    height: max-content;
    width: max-content;
    border: 2ps solid $primary;
    text-align: center;

    @media (max-width: $sm) {
      padding: 20px 20px;
      max-width: 200px;
    }

    &.show{
      opacity: 1;
      visibility: visible;
    }
  }

}
