@import '../../../assets/scss/vars';

.c-pre-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary;
  min-height: 74px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: $xl) {
    min-height: 50px;
  }

  &__title {
    text-transform: uppercase;
    color: $white;
    font-family: map-get($font, 'light');
    text-align: center;
    letter-spacing: 2px;

    @media (max-width: $xl) {
      font-size: 14px;
    }
  }
}
