//Colors
$black: #000;
$white: #fff;

//Colors
$font-colors:(
    'primary': #444,
    'secondary': yellow,
    'tertiary': blue
);

//Breakpoits
$xl: 1282px;
$l: 1080px;
$sl: 992px;
$md: 768px;
$sm: 576px;

