//Colors
$black: #000;
$white: #fff;
$primary: #425461;
$secondary: #495561;
$tertiary: #9F7A2C;
$brown: #B9A292;
$dark-brown: #806B5A;
$darkest-brown: #3C2716;
$grey: #E1E1E1;
$light-blue: #d5d0cc;

$font-weights: ('light': 300,
  'regular': 400,
  'medium': 500,
  'bold': 700,
);


//Breakpoits
$xl: 1240px;
$l: 1080px;
$sl: 992px;
$md: 768px;
$sm: 576px;

//Fonts
@font-face {
  font-family: 'Gotham-Bold';
  src: url('../fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: 'Gotham-Medium';
  src: url('../fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: 'Gotham-Book';
  src: url('../fonts/Gotham-Book.otf');
}

$font: ('bold' : 'Gotham-Bold',
  'medium' : 'Gotham-Medium',
  'light':'Gotham-Book');


.scroll-space{
  scroll-margin-top: 101px;
  scroll-snap-type: mandatory;
}