<header>
    <section class="c-navbar">
        <div class="c-navbar__container container">

            <a href="/" class="c-navbar__logo">
                <img src="../../../assets/img/logo.png" alt="Logo">
            </a>

            <ul class="c-navbar__nav">
                <li class="c-navbar__nav-item"><a href="#">Home</a></li>
                <li class="c-navbar__nav-item"><a href="#">About Us</a></li>
                <li class="c-navbar__nav-item"><a href="#">Bulding</a></li>
                <li class="c-navbar__nav-item"><a href="#">Contact</a></li>
            </ul>
        </div>
    </section>
</header>