<header class="header">
    <section class="c-navbar navbar">
        <div class="c-navbar__container container">

            <a href="#" class="c-navbar__logo">
                <img src="../../../assets/img/logos/logo.png" alt="Nomos Logo" class="logo">
            </a>

            <button class="c-navbar__hamburger" aria-expanded="false" toggler-menu (click)="openMenu()">
                <span></span>
                <span></span>
                <span></span>
            </button>

            <ul class="menu c-navbar__menu">
                <li class="c-navbar__menu-item"><a href="#house" (click)="openMenu(true)">Nomos House</a></li>
                <li class="c-navbar__menu-item"><a href="#investment" (click)="openMenu(true)">Inversión</a></li>
                <li class="c-navbar__menu-item"><a href="#" (click)="openMenu(true)">Equipamiento</a></li>
                <li class="c-navbar__menu-item"><a href="#" (click)="openMenu(true)">Construcción</a></li>
                <li class="c-navbar__menu-item"><a href="#" (click)="openMenu(true)">Nosotros</a></li>
                <li class="c-navbar__menu-item"><a href="#" (click)="openMenu(true)">Consultanos</a></li>
            </ul>
        </div>
    </section>
</header>