<section id="hero" class="c-hero">

    <video class="c-hero__background" src="../../../assets/hero/background.mp4" autoplay [muted]="'muted'" loop></video>

    <img class="c-hero__circles" src="../../../assets/hero/circulo lineal.svg">

    <div class="c-hero__container container">

        <ngx-slick-carousel class="c-hero__carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <h1 class="c-hero__title">{{ slide.txt }}</h1>
            </div>
        </ngx-slick-carousel>

    </div>

    <div class="c-hero__underline"></div>
</section>
