<section class="c-showroom">

    <div class="container">

        <div class="c-showroom__container">
    
            <div class="c-showroom__content">
    
                <h3>¡Visitá nesutro showroom!</h3>
    
                <p>Tenemos Nomos totalmente equipada para que la lleves <strong>llave en mano</strong></p>
    
            </div>
    
            <div class="c-showroom__media">
    
                <img src="../../../assets/img/pictures/2.png" alt="">
    
            </div>
    
        </div>
        
    </div>
    
</section>