@import '../../../assets/scss/vars';

.c-showroom{
    padding: 85px 0;

    &__container{
        background-image: url('../../../assets/img/pictures/Rectángulo\ 100.png');
        background-size: cover;
        background-position: center;
        padding: 30px;
        max-height: 600px;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

    &__media{
        max-height: 500px;
        aspect-ratio: 1/1;
        padding: 20px;
        border: 1px solid $white;
        border-radius: 100%;
        transform: scale(1.2);

        img{
            height: 100%;
            border-radius: 100%;
            width: 100%;
            object-position: center;
            object-fit: cover;
            transform: scale(0.9);
        }
    }

}