@import '../../../assets/scss/vars';

.c-building {
  @extend .scroll-space;
  padding-bottom: 170px;

  @media (max-width: $md) {
    padding-bottom: 85px;
  }

  @media (max-width: $sm) {
    padding-bottom: 40px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;

    @media (max-width: $sm) {
      justify-content: center;
    }
  }

  &__title {
    font-family: map-get($font, 'medium');
    color: $primary;
    font-size: 60px;
    line-height: 1em;
    padding-bottom: 5px;
    text-decoration: underline;
    letter-spacing: 0.3px;

    @media (max-width: $md) {
      font-size: 45px;
    }

    @media (max-width: $sm) {
      font-size: 35px;
      text-align: center;
    }
  }

  &__icon-title {
    max-width: 74px;

    @media (max-width: $md) {
      max-width: 50px;
    }

    @media (max-width: $sm) {
      display: none;
    }
  }

  &__copy {
    font-family: map-get($font, 'medium');
    color: $primary;
    font-size: 27px;
    line-height: calc((40 / 27)em);
    margin-bottom: 50px;

    @media (max-width: $md) {
      font-size: 20px;
    }

    @media (max-width: $sm) {
      text-align: center;
    }
  }

  &__slider-wrapper {
    position: relative;
    top: 0;
    left: 0;

    &-arrow {
      display: block;
      height: max-content;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: transparent;
      border: none;
      cursor: pointer;
      transition: .3s all;

      @media (max-width: $md) {
        bottom: initial;
        top: 150px;
      }

      &:hover {
        transform: scale(1.1);
      }

      &.next-building {
        right: calc(-40px / 2);
      }

      &.prev-building {
        left: calc(-40px / 2);

        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__slide {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border-radius: 40px;
    background: $grey-two;

    @media (max-width: $md) {
      flex-direction: column;
    }

    &-img {
      display: block;
      width: 50%;
      border-radius: 0 40px 40px 0;

      @media (max-width: $md) {
        border-radius: 0 0 40px 40px;
        width: 100%;
      }
    }

    &-content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media (max-width: $md) {
        padding: 40px 0;
      }
    }

    &-title {
      font-family: map-get($font, 'bold');
      color: $tertiary;
      font-size: 42px;
      line-height: calc((50 / 42)em);
      margin-bottom: 20px;
      text-align: center;
      max-width: 326px;
      text-decoration: underline;
    }

    &-copy {
      font-family: map-get($font, 'light');
      color: $primary;
      font-size: 15px;
      line-height: calc((25 / 15)em);
      text-align: center;
      max-width: 326px;
    }
  }
}
