<app-pre-header></app-pre-header>
<app-header></app-header>
<app-hero></app-hero>
<app-house></app-house>
<app-gallery></app-gallery>
<app-investment></app-investment>
<app-showroom></app-showroom>
<app-sustentability-slider></app-sustentability-slider>
<app-transport></app-transport>
<app-equipment></app-equipment>
<app-building></app-building>
<app-banner></app-banner>
<app-gallery-renders></app-gallery-renders>
<app-about-us></app-about-us>
<app-contact></app-contact>
<app-whatsapp></app-whatsapp>