<section class="c-sustentability">

    <div class="container">

        <div class="c-sustentability__wrapper">

            <h3 class="c-sustentability__title">Sustentabilidad</h3>

            <img class="c-sustentability__icon-title" src="../../../assets/img/icons/Grupo 27.svg" alt="">

        </div>

        <p class="c-sustentability__copy">Viviendas pensadas para generar el <strong>menor impacto ecológico posible</strong>, mediante el uso eficiente de los recursos energéticos y la correcta gestión de residuos.</p>

        <ngx-slick-carousel class="c-sustentability__slider" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <div class="c-sustentability__slide">
                    <img class="c-sustentability__slide-img" src="{{ slide.img }}" alt="">
                    <h5 class="c-sustentability__slide-title">{{slide.title}}</h5>
                    <p class="c-sustentability__slide-copy">{{slide.copy}}</p>
                </div>
            </div>
        </ngx-slick-carousel>

        
    </div>

</section>