<section class="c-sustentability">

    <div class="container">

        <div class="c-sustentability__wrapper">

            <h3 class="c-sustentability__title">Sustentabilidad</h3>

            <img class="c-sustentability__icon-title" src="../../../assets/img/icons/Grupo 27.svg" alt="">

        </div>

        <p class="c-sustentability__copy">Viviendas pensadas para generar el menor impacto ecológico posible, mediante el uso eficiente de los recursos energéticos y la correcta gestión de residuos.</p>

        <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }}" alt="" width="100%">
                <h5>{{slide.title}}</h5>
                <p>{{slide.copy}}</p>
            </div>
        </ngx-slick-carousel>

        
    </div>

</section>