<section id="transport" class="c-transport">

    <div class="container">

        <div class="c-transport__wrapper">

            <h3 class="c-transport__title">Somos Fabricantes</h3>

            <img class="c-transport__icon-title" src="../../../assets/img/icons/about-us.svg" alt="map">

        </div>

        <p class="c-transport__copy">Gracias al aporte de <strong>Lamsson Mobiliario</strong> y su trayectoria de más de 15 años en el rubro, las viviendas se encuentran equipadas con los más altos estándares en calidad y diseño de amoblamiento.</p>
        
    </div>

    <img class="c-transport__img" src="../../../assets/img/pictures/about-us.png" alt="about us">

</section>