<section id="investment" class="c-investment">

    <img class="c-investment__image" src="../../../assets/img/pictures/right.png" alt="">

    <div class="c-investment__topline"></div>

    <div class="c-investment__underline"></div>

    <div class="container">

        <div class="c-investment__container">

            <div class="c-investment__head">
    
                <h2 class="c-investment__head-title">¿Porqué invertir en una Tiny House?</h2>

                <hr class="c-investment__head-separator">
    
                <p class="c-investment__head-copy">Porque es una <span>inversión segura</span>, teniendo en cuenta varias variables.</p>
    
            </div>
    
            <div class="c-investment__description">
    
                <p>Gracias a su capacidad de transporte, no depende de la valorización del terreno o ubicación.</p>
    
                <p>Es una oportunidad para la persona que cuenta con un terreno sin edificación y quiere empezar a disfrutarlo y revalorizarlo.</p>
    
                <p>A nivel inmobiliario, puede significar un ingreso fijo como alquiler mensual o rentándola como alojamiento vacacional, con fácil poder de adaptación.</p>
    
            </div>
    
            <div class="c-investment__footer">
    
                <p>ASESORAMIENTO PERSONALIZADO</p>
    
                <p><a href="tel:+5493513187432">549-351-3187432</a></p>
    
                <p><a href="tel:+5493512204404">549-351-2204404</a></p>
    
            </div>

        </div>

    </div>

</section>