/* You can add global styles to this file, and also import other style files */
//Reset
*{
    margin: initial;
    padding: initial;
}

body{
    width: 100wv;
    overflow-x: hidden
}

//Import general styles
@import './assets/scss/vars';
@import './assets/scss/structure';