@import '../../../assets/scss/vars';

.c-house {
  padding: 93px 0;
  background-color: $grey;
  @extend .scroll-space;

  @media (max-width: $md) {
      padding: 50px 0;
  }

  &__container {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__logo {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    border: 10px solid $secondary;
    position: relative;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 2s transform;

    &:after {
      content: url('../../../assets/img/icons/o.svg');
      display: block;
      top: -28px;
      position: absolute;
      left: -13px;
      right: 0;
      margin: auto;
    }
  }

  &__description {
    margin-top: 54px;
    margin-bottom: 118px;
    max-width: 815px;

    @media (max-width: $md) {
      margin: 30px 0;
    }

    p {
      font-size: 27px;
      line-height: calc((40 / 27)em);
      text-align: center;
      margin-bottom: 40px;
      font-family: map-get($font, 'medium');

      @media (max-width: $md) {
        font-size: 18px;
        line-height: 1.3em;
        margin-bottom: 20px;
      }

      &:first-child {
        color: $secondary;
      }

      &:last-child {
        color: $tertiary;
        margin: initial;
      }
    }

    &--blue{
        p{
            color: $secondary;

            &:first-child,
            &:last-child{
                color: $secondary;
            }
        }
    }
  }

  &__picture-wrapper {
    position: relative;
    top: 0;
    left: 0;

    &-left,
    &-right {
      display: none;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      height: fit-content;

      @media (max-width: $md) {
        display: block;
      }
    }

    &-left {
      left: calc(-39.55px / 2);

      svg {
        transform: rotate(180deg);
      }
    }

    &-right {
      left: initial;
      right: calc(-39.55px / 2);
    }
  }

  &__picture {
    width: 100%;

    @media (max-width: $md) {
      height: 400px;
      object-fit: cover;
      object-position: 0%;
      transition: .3s all;
    }
  }
}
