<section id="transport" class="c-transport">

    <div class="container">

        <div class="c-transport__wrapper">

            <h3 class="c-transport__title">Transportable ¡Ideal para viajar!</h3>

            <img class="c-transport__icon-title" src="../../../assets/img/icons/icono.svg" alt="map">

        </div>

        <p class="c-transport__copy">Conocé, disfrutá, explorá y conquistá los más diversos lugares y paisajes sin preocuparte por el alojamiento. La Nomos House son excelentes para escapar de la ciudad o vacacionar en familia. Cuenta con un <strong>sistema de trailer desmontable</strong> que te permite transportarla, o desmontarla y ubicarla en el espacio que desees.</p>

        <img class="c-transport__gif" src="../../../assets/transport/transport.gif" alt="transport">
        
    </div>

</section>